.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; /* Round any decimal pixels so it'll render nicely */
  font-size: 8pt;

}

.dot {
  opacity: 0.5  ;
	stroke: #000;
	stroke-width: 0;
}

.dot:hover {
  opacity: 1;
}

.legend {
	font-size: 8pt;

}

.label {
	font-size: 8pt;

}

.tick {
	font-size: 8pt;

}

.tooltip {
            position: absolute;
            font-size: 12px;
            width:  auto;
            height: auto;
            pointer-events: none;
}