body {
		font-size: 10pt;
	  	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		color: black;
		line-height: 14pt;
		padding: 5pt;
		text-align: center;
	}
	
h1 {
		font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	  	font-weight: bold;
		line-height: 20pt;
	}
			
h2 {
		font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
		line-height: 20pt;
	}

h3 {
		font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
		line-height: 20pt;
	}
a {
		text-decoration: none;
	}
a:link, a:visited {
  color: #8094d6;
}

a:hover, a:active {
	color: #FF9933;
			}

